
body{
    margin: 0;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    color: #40514E;
}

h1{
    margin-top: 0;
    font-family: 'The Nautigal', cursive;
    font-size: 6.825rem;
    margin: 50px, auto 0 auto;
    margin: 50px;
    color: rgb(194, 24, 24);
}

.middle-container{
    margin: 100px 0;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.top-container{
    background-color: rgb(187, 229, 235);
    position: relative;
    padding-top: 100px;
    
}

.bottom-container{
    background-color: rgb(187, 229, 235); 
    padding: 50px 0 20px;
}

h2{
    size: 2.5rem;
    color: rgb(207, 36, 24);
    font-weight: normal;
    padding-bottom: 10px;
}

.top-cloud{
    position: absolute;
    right: 550px;
}

h3{
   color: red; 
}

hr{
    border: dotted;  
    border-bottom: none;
    width: 10%;  
    margin: 100px auto;
    border-color: rgb(11, 15, 75);
    border-width: 8px;
}

.bottom-cloud{
    position: absolute;
    right: 1200px;
}

.profile{
    size: 20px;
}
.profile{
    margin-top: 20px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.code-img{
    float: left;
    margin-right: 30px;
}

.guitar-img{
    float: right;
    margin-left: 30px;
}

p{
    font-size: 1.5rem;
    line-height: 2;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Dosis', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright{
    color: #d31414;
  }